<odoo>
	<data>
		<menuitem id="tele_e_Invoice_top_menu" name="e_inv" sequence="20" web_icon="tele_e_Invoice,static/description/icon.png" />
		<menuitem id="tele_e_Invoice_sub_menu" name="Operations" sequence="40" parent="tele_e_Invoice_top_menu" />
		<menuitem id="tele_e_Invoice_config_menu" name="Configurations" sequence="50" parent="tele_e_Invoice_top_menu" />
	</data>
</odoo>